			#top {
				background-color: #555555;
				width: 100%;
				height: 100%
			}

			#bottom {
				background-color: black;
				width: 100%;
				height: 40%
			}
			#left {
				float: left;
				background-color: #aaaaaa;
				height: 100%;
				width: 50%
			}
			#right {
				float: left;
				background-color: #000000;
				height: 100%;
				width: 50%
			}

			video {
				width: 100%;
				height: 95%
			}

			#timearea {
				background-color: #000000;
				color: white;
				width: 100%;
				height: 5%;
			}
			textarea {
				width: 100%;
				height: 95%
			}

			#areaTitle {
				width: 100%;
				height: 5%;
				background-color: white;
			}
	
